body {
    background-color: #740202;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

button:hover {
    cursor: pointer;
}

main {
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#frogBtn, #wedBtn, #sklBtn {
    display: inline-block;
    padding: 0;
    border: none;
    background: transparent;
}

#frogImg, #wedImg, #sklImg {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

#frogBtn, #wedBtn, #sklBtn {
    display: inline-block;
    padding: 0;
    border: none;
    background: transparent;
    width: min(80vw, 400px);
}
@media (min-width: 900px) {
    #frogBtn, #wedBtn, #sklBtn {
        width: min(25vw, 450px); 
    }
}