body {
    background-color: rgb(158, 240, 65);
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    background: transparent;
    border: transparent;
}

button:hover {
    cursor: pointer;
}