body {
    background-color: #740202;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

button:hover {
    cursor: pointer;
}

main {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#frogBtn, #wedBtn {
    display: inline-block;
    padding: 0;
    border: none;
    background: transparent;
}

#frogImg, #wedImg {
    display: block;
    width: 80vw;
    max-width: 400px;
    height: auto;
}

@media (max-width: 480px) {
    #frogImg, #wedImg {
        width: 90vw;
        max-width: 350px;
    }
}

@media (min-width: 900px) {
    #frogImg, #wedImg {
        width: 40vw;
        max-width: 450px;
    }
}